.azalia {
    display: flex;
    flex-direction: column;
    background-color: plum;
    align-items: center;

    h1 {
        color: palegreen;
    }

    h2 {
        color: midnightblue;
    }

    img {
        width: 25rem;
        height: 40rem;
    }
    p {
        color: rebeccapurple;
    }


}