.hal {
  width: 50%;
  border-radius: 10px;
  position: relative;
  align-items: center;
  padding: 1%;
  margin: 1%;
}
.hal.dark, .hal.dark * {
  background: #1b1e20;
  color: #caf5d4;
}
.hal.mid, .hal.mid * {
  background: #fffb00;
  color: #ff0800;
}
.hal.mid {
  background: linear-gradient(45deg, pink, #fffb00, teal);
  background-size: 1000% 100%;
  -webkit-animation: gradient 5s ease infinite alternate;
          animation: gradient 5s ease infinite alternate;
}
.hal.mid * {
  background: none;
}
.hal.mid2, .hal.mid2 * {
  background: #ff7300;
  color: #ae00ff;
}
.hal.light, .hal.light * {
  background: #f2fff8;
  color: #313b33;
}
.hal.light h2, .hal.light a {
  color: #014601;
}
.hal.dark h2, .hal.dark a {
  color: #50c750;
}
.hal.mid h2, .hal.mid a {
  color: #002fff;
}
.hal.mid2 h2, .hal.mid2 a {
  color: #00691a;
}
.hal button {
  width: 40px;
  height: 20px;
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
}
.hal.dark button {
  border: 2px solid #50c750;
}
.hal.mid button {
  border: 2px solid #002fff;
}
.hal.mid2 button {
  border: 2px solid #00691a;
}
.hal.light button {
  border: 2px solid #014601;
}
.hal.dark button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  font-size: 0px;
  padding: 1px;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #50c750;
  -webkit-animation: colorChangeDark 1s ease;
          animation: colorChangeDark 1s ease;
}
.hal.mid button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 8px;
  font-size: 0px;
  padding: 1px;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #002fff;
  -webkit-animation: colorChangeMid 1s ease;
          animation: colorChangeMid 1s ease;
}
.hal.mid2 button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 13px;
  font-size: 0px;
  padding: 1px;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00691a;
  -webkit-animation: colorChangeMid2 1s ease;
          animation: colorChangeMid2 1s ease;
}
.hal.light button::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 0px;
  padding: 1px;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #014601;
  -webkit-animation: colorChangeLight 1s ease;
          animation: colorChangeLight 1s ease;
}
.hal * {
  border-radius: 10px;
  align-items: center;
  padding: 1%;
  margin: 1%;
}
.hal form {
  width: 100%;
}
.hal form label,
.hal form input {
  width: 20%;
}

@-webkit-keyframes colorChangeDark {
  0% {
    background-color: #014601;
    left: 21px;
  }
  100% {
    background-color: #50c750;
    left: 2px;
  }
}

@keyframes colorChangeDark {
  0% {
    background-color: #014601;
    left: 21px;
  }
  100% {
    background-color: #50c750;
    left: 2px;
  }
}
@-webkit-keyframes colorChangeMid {
  0% {
    background-color: #50c750;
    left: 2px;
  }
  100% {
    background-color: #002fff;
    left: 8px;
  }
}
@keyframes colorChangeMid {
  0% {
    background-color: #50c750;
    left: 2px;
  }
  100% {
    background-color: #002fff;
    left: 8px;
  }
}
@-webkit-keyframes colorChangeMid2 {
  0% {
    background-color: #002fff;
    left: 8px;
  }
  100% {
    background-color: #00691a;
    left: 13px;
  }
}
@keyframes colorChangeMid2 {
  0% {
    background-color: #002fff;
    left: 8px;
  }
  100% {
    background-color: #00691a;
    left: 13px;
  }
}
@-webkit-keyframes colorChangeLight {
  0% {
    background-color: #00691a;
    right: 8px;
  }
  100% {
    background-color: #014601;
    right: 2px;
  }
}
@keyframes colorChangeLight {
  0% {
    background-color: #00691a;
    right: 8px;
  }
  100% {
    background-color: #014601;
    right: 2px;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}/*# sourceMappingURL=hal.css.map */